<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini_s24_proj</title>
<style>
    html{
    background:url('/static/cloud2.jpg') no-repeat center center fixed;
    -webkit - background-size:cover;
    -moz - background-size: cover;
    -o - background-size:cover;
    background-size: cover;
    }
</style>
</head>
<body>

    <div class="content">
    <h1 style="text-align: center; color:white">Weather App 2.0</h1>
    <!--<input type="button" onclick="location.href='/app_login';" style="display: block; margin-left: auto; margin-right: auto;" value="Google Login" />-->
    <a href='/app_login'><img src="static/signingoogle.png" style="width:200px;height:50px;display: block; margin-left: auto; margin-right: auto; padding: 30px;"></a>
    </div>

</body>
</html>



